.benefits {
    padding: clamp(60px, 2.679rem + 5.36vw, 120px) 0;
}

.benefits__griid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

    @include tablet {
        grid-template-columns:  repeat(2, 1fr);
        // grid-template-columns: repeat(auto-fit, minmax(305px,1fr));
        gap: clamp(30px, 0.982rem + 4.46vw, 60px) 20px; // 30 60

        @include mobile(){
            grid-template-columns: 1fr;
        }
    }
}
.benefits__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    max-width: 260px;

    @include tablet {
     font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
    }
}
.benefit {
}
.benefit__title {
    font-style: normal;
    font-weight: 700;
    
}
.benefit__text {
    line-height: 185%;
    padding: 20px 0 14px;
    opacity: 0.8;
}
