


.header {
    position: relative;
    background-image: url("./../images/header/header-bg.jpg");
    background-size: cover;
    aspect-ratio: 1440/1084; /* чтобы изображение не сплюшивалось */

    color:var(--header-text-color);

    @include retina-bg(url("../../images/header/header-bg-2x.jpg"));

    a {
        color:var(--header-text-color);
    }  

    @include mobile() {
		padding-bottom: 240px;
		background-position: center;
		aspect-ratio: unset;
	}

}
.header__nav {
	margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

.header__content {
    text-align: center;
}
.header__content p{
    max-width: 606px;
    margin: 0 auto;
    font-size:clamp(16px, 0.857rem + 0.71vw, 24px); 
    text-wrap: balance;
    font-weight: 400;
    line-height: 160%; 
    opacity: 0.8;
}
.header__title {
    margin-bottom: 14px;
    font-size: 80px;
    font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
    text-wrap: balance;
    font-weight: 700;
    line-height: 130%; /* 104px */
    letter-spacing: -0.8px;
    text-transform: capitalize;
}

.form-search {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 42px;
    max-width: 344px;
    height: 56px;
    padding: 8px 8px 8px 20px;
    border: 0.862px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);

    @include mobile-xl() {
		display: none;
	}
    
}
.form-search__input {
    flex-grow: 1;
    font-size: 18px;
    line-height: 150%;
    color: #FFF;
    font-weight: 700;

    &::placeholder {
        color: #FFF;
        font-weight: 400; 
    }
}
.form-search__btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius:24px;
    background-color:var(--accent)
}

// Dots
.header__dot {
	position: absolute;

	@include mobile-xl() {
		display: none;
	}
}

.header__dot-sofa {
    top:calc(685 * 100% / 1084);  /* 1084 */
    left: calc(296 * 100% / 1440);  /* 1440 */
    

}

.header__dot-vase {
    top:calc(754 * 100% / 1084);   /* 754 отступ сверху в пикселях  */
    left: calc(114 * 100% / 1440);  /* 114 отступ слева в пикселях  */
    transform: translate(-50%, -50%);
}
.header__dot-item {
    top:calc(787 * 100% / 1084);   /* 787 отступ сверху в пикселях  */
    left: calc(810 * 100% / 1440);  /* 810 отступ слева в пикселях  */
    transform: translate(-50%, -50%);
}
.header__dot-wall {
    top:calc(821 * 100% / 1084);   /* 821 отступ сверху в пикселях  */
    right:  calc(44 * 100% / 1440);  /* 44 отступ слева в пикселях  */
}