.info-hint {
    position: absolute;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 12px;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -100%);
    background-image: url("./../images/icons/hint.svg");
    width: 112px;
    height:  56px;
    display: none;
    
}
.info-hint-open {
    display: flex;
}
.info-hint__radio:checked + .info-hint__radio-fake {
    background-image: url("./../images/icons/checkbooks.svg");
    background-position: center center;
    background-repeat: no-repeat;
  
}
.info-hint__radio {
    // display: none; первый вариант,но обычно лучше второй варинат,он больше но лучше
    clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
    

.info-hint__radio-fake {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: var(--ui-orange);
    border: 2px solid #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10) ;
    border-radius:50%;

    &--orange {
        background-color:var(--ui-orange)
    }
    &--biruza {
        background-color:var(--ui-biruza)
    }
    &--gray {
        background-color:var(--ui-gray)
    }



}