
.nav {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap:20px   ;

    @include mobile() {
		padding-top: 20px;
        
	}
    
}
.nav__logo {
    align-self: center;
    
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:65px;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-weight: 500;

    
    @include tablet(){
        display: none;
    }
}
.nav-list__item {
    position: relative;
}
.nav-list__link {
    transition: all 0.2s ease-in;
    &:hover {
        opacity: 0.7;
    }
}
.nav-list__link--dropdown {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &::after {
        content: url("./../images/icons/arrow-down.svg");
        height: 18px;
    }
}
.nav-list__sub-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}
.nav-list__item:hover .nav-list__sub-nav {
    display: block;
}
.nav__btn {
    display: none;

    @include tablet(){
        display: block;
    }
}
.cart {
    align-self: center;
    justify-self: end;
    position: relative;
}
.cart__img {
}
.cart__count {
    display: inline-block;
    height: 25px;
    padding: 0 6px;
    line-height: 25px;
    position: absolute;
    top: 3px;
    right: -6px;
    border-radius: 40px;
    font-weight: 700;
    background-color: var(--accent);
}