.products {
    background-color:#F7F7F7;
    padding: 50px 0;
}

.products__title {
    margin-bottom: 32px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;

    @include tablet {
        font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
       }
}
.products__tabs {
    margin-bottom: 80px;
    text-align: center;

    @include small-mobile {
        display: none;
    }
    

}
.products__slider {
    margin-bottom: clamp(30px, 0.982rem + 4.46vw, 60px);


    @include desktop-small {
        padding: 0 40px;
    }
    @include mobile {
        padding: 0 20px;
    }
    
}
.products__link {
    text-align: center;
}

.tab-controls {
    display: inline-flex;
    padding: 6px;
    align-items: flex-start;
    border-radius: 44px;
    background: #EEE;
}
.tab-control_btn {   
    width: 84px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 32px;
    line-height: 185%; 
    font-weight: 500;
    color: rgba(31, 31, 31, 0.8);
    transition: background-color 0.2s ease-in;
    &--active {
        background-color: #FFF; 
    }
    &:hover {
		background-color: rgba(255,255,255,0.5);
    }
}