.slider {
    position: relative;
}
.slider__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
    /* выравниение картинака по центру */
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__btn--prev {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

}
.slider__btn--next {
    z-index: 1;
    position: absolute;
    top: 50%;
    right:  0;
    transform: translate(50%, -50%);
}

